<!-- start header -->
<!--<header class="main-header" style="background-image: url({{ '/images/header-bg.jpg' | prepend: site.baseurl | replace: '//', '/'}});">-->

<header class="main-header" style="background-image: url({% if page.url == '/people/' %}{{ '/images/header-bg.jpg' | prepend: site.baseurl | replace: '//', '/'}}  {% elsif page.url == '/research/' %}{{ '/images/head-microfluidic.png' | prepend: site.baseurl | replace: '//', '/'}} {% elsif page.url == '/publications/' %}{{ '/images/head-equipe.png' | prepend: site.baseurl | replace: '//', '/'}} {% else %}   {% endif %});">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- start logo -->
        <a href="" class="branding">
          <img src="{{'/images/dog-logo.png' | prepend: site.baseurl | replace: '//', '/'}}" alt=""/>
        </a>
        <h2 class="text-hide">enjoy life</h2>
      </div>
      <div class="slogan col-sm-12">
        <!--<p>Robustness and evolvability of life</p>-->
        <p style="font-size: 28px;">None of us alone is more intelligent than all of us together</p>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
