<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="{% if page.url == '/' %}nav-current{% endif %}" role="presentation"><a href="/">HOME</a></li>
                        <!--<li class="{% if page.url == '/_posts' %}nav-current{% endif %}" role="presentation"><a href="/">NEWS</a></li>
                        <li class="{% if page.url == '/tags/' %}nav-current{% endif %}" role="presentation"><a href="/tags/">PROJECTS</a></li>-->
                        <li class="{% if page.url == '/people/' %}nav-current{% endif %}" role="presentation"><a href="/people/">PEOPLE</a></li>
                         <li class="{% if page.url == '/research/' %}nav-current{% endif %}" role="presentation"><a href="/research/">RESEARCH</a></li>
                         <li class="{% if page.url == '/publications/' %}nav-current{% endif %}" role="presentation"><a href="/publications/">PUBLICATIONS</a></li>
                        <li class="{% if page.url == '/aboutus/' %}nav-current{% endif %}" role="presentation"><a href="/aboutus/">JOIN US</a></li>
                        <li class="{% if page.url == '/contact/' %}nav-current{% endif %}" role="presentation"><a href="/contact/">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav><!-- end navigation -->