<aside class="col-md-4 sidebar">
    <!-- start tag cloud widget -->
    <div class="widget">
        <h4 class="title">Tags</h4>
        <div class="content tag-cloud">
            <!--{% for tag in site.tags %}
                <a href="{{site.baseurl}}tags#{{tag[0]}}">{{tag[0]}} <span class="badge">{{tag[1].size}}</span></a>
            {% endfor %}-->
               <a href="http://www.inserm.fr"> INSERM <span class="badge">1</span></a>
               <a href="https://cri-paris.org/"> CRI <span class="badge">2</span></a>
               <a href="http://www.medils.org"> MedILS <span class="badge">3</span></a>
               <a href="https://www.univ-paris5.fr/"> PARIS DESCARTES <span class="badge">4</span></a> 
        </div>
    </div>

</aside><!-- sidebar -->